In [37]:
import pandas as pd
pd.set_option('display.max_colwidth', 400)

In [ ]:
df = pd.read_parquet("data/test.parquet")

In [21]:
df[df["question"].str.contains("Carol")]

,id,question,chain,result,source
104,asdiv_a__nluds-0964,Belle collected 97 animal stickers. Carolyn co...,"<gadget id=""calculator"">97 - 18</gadget>\n<out...",79,calc
266,asdiv_a__nluds-1813,Carol was helping her mom plant vegetables in ...,"<gadget id=""calculator"">6 * 9</gadget>\n<outpu...",54,calc
476,gsm8k__rc51lnAMtwQxIxDG,"Carol spends 4 hours writing a song, half that...",First find how long Carol spent writing the so...,20,calc

In [22]:
df.iloc[476]["question"]

'Carol spends 4 hours writing a song, half that much time recording it, and 90 minutes editing it. What percentage of her total work time did she spend editing?'

In [38]:
df[df["question"].str.contains("percentage")][["question", "result"]]

,question,result
24,"A Ting's shooting percentage is as high as 70%, that is, how many shots he can make for every 10 shots.",7
98,"20 marbles were pulled out of a bag of only white marbles, painted black, and then put back in. Then, another 20 marbles were pulled out, of which 1 was black, after which they were all returned to the bag. If the percentage of black marbles pulled out the second time represents their percentage in the bag, how many marbles in total Q does the bag currently hold? Select the correct option.\nA...",D
158,"The refrigerator factory produced 24,000 refrigerators in the first half of this year, 4,000 more than planned. By what percentage?",1/5
185,"The age of Xiaohong's father this year is 4 times of Xiaohong's age, so what percentage of Xiaohong's age is his father's age this year?",1/4
190,"A tree planting team planted 250 trees, 90 more than planned. By what percentage is it more than planned?",9/16
280,"A book was sold for Rs 27.50 with a profit of 10%. If it were sold for Rs. 25.75, then would have been percentage of profit and loss ?\nChoose the correct choice from the following:\nA) 2% Profit\tB) 3% Profit\tC) 2% Loss\tD) 3% Loss\tE) 4% Loss",B
288,"The tape recorder factory planned to produce 3,600 tape recorders in the third quarter, but actually produced 4,500. By what percentage did the actual output exceed the plan?",1/4
475,"Michael is traveling on the interstate at an average speed of 50km/hr (taking into account all the necessary stops for gas, relaxation, etc.). If he goes on like this for 3 days, and the distance between Alaska and Texas is 6000 km, what percentage of this distance has he covered?",60
476,"Carol spends 4 hours writing a song, half that much time recording it, and 90 minutes editing it. What percentage of her total work time did she spend editing?",20
485,"In a dance class of 20 students, 20% enrolled in contemporary dance, 25% of the remaining enrolled in jazz dance, and the rest enrolled in hip-hop dance. What percentage of the entire students enrolled in hip-hop dance?",60

In [23]:
df.head(100)

,id,question,chain,result,source
0,svamp__chal-551,Robin has some packages of gum. There are 7 pi...,"<gadget id=""calculator"">41 - 6</gadget>\n<outp...",5,calc
1,ape210k__00027150,"2 meters of floral cloth, how much rice is lef...","<gadget id=""calculator"">80 / 100</gadget>\n<ou...",2/5,calc
2,ape210k__00287396,"There are two schools, A and B. School A has 5...","<gadget id=""calculator"">525 * 2</gadget>\n<out...",1_000,calc
3,gsm8k__xtQ5d23fzgEAhUdB,If Mark weighs 150 pounds and Susan weighs 20 ...,Susan weighs 150 pounds - 20 pounds = \n<gadge...,180,calc
4,svamp__chal-741,He had a total of 40 saltwater animals in diff...,"<gadget id=""calculator"">40 / 2</gadget>\n<outp...",20,calc
...,...,...,...,...,...
95,mawps__9JLUq27DatbNnbFo,Rick had 215 watermelon. Felicita clasped some...,"<gadget id=""calculator"">215 - 41</gadget>\n<ou...",174,calc
96,ape210k__00997505,"A vacant plot covers an area of 2,450 square m...","<gadget id=""calculator"">260 * 6</gadget>\n<out...",890,calc
97,ape210k__00221158,"Xiao Ming bought two identical pens, paid the ...","<gadget id=""calculator"">30 - 6</gadget>\n<outp...",12,calc
98,aqua_rat__qSFpXk6xUUVorLOW,20 marbles were pulled out of a bag of only wh...,We know that there are 20 black marbles in the...,D,calc
99,asdiv_a__nluds-0093,Hayley had 25 meatballs on her plate. Kirsten ...,"<gadget id=""calculator"">25 - 11</gadget>\n<out...",14,calc

In [24]:
contains_non_digit = df['result'].str.contains(r'[^0-9]')

In [25]:
df[contains_non_digit].to_dict('records')[10:20]

[{'id': 'aqua_rat__1JlCCW4dTTvTIZbG',
  'question': 'In how many ways can a teacher in a kindergarten school arrange a group of 3 children (Susan, Tim and Zen) on 3 identical chairs in a straight line so that Susan is on the left of Tim?\tPick: A) 7 B) 3 C) 2 D) 1 E) 6',
  'chain': 'Total ways in which 3 children can be arranged on 3 chairs = 3*2*1= \n<gadget id="calculator">3*2*1</gadget>\n<output>6</output>\n6   But in half cases Susan will be left of Tim and in other half of cases Tim will be on left of Susan   i.e. Desired cases in which Susan is on the left of Tim= (1/2)*6= \n<gadget id="calculator">(1/2)*6</gadget>\n<output>3</output>\n3   3\n<result>B</result>',
  'result': 'B',
  'source': 'calc'},
 {'id': 'ape210k__00490335',
  'question': 'The angle between the two radii of a sector is 60°, and its area is ((())/(())) of the area of the circle on which it is located.',
  'chain': '<gadget id="calculator">1 / 6</gadget>\n<output>1/6 = around 0.166667</output>\n\n<result>1/6 = around 0.166667</result>',
  'result': '1/6',
  'source': 'calc'},
 {'id': 'ape210k__00047241',
  'question': 'rectangular nursery, 40 meters long and 18 meters wide, is calculated as 5 seedlings per square meter. How many saplings can this nursery raise?',
  'chain': '<gadget id="calculator">40 * 18</gadget>\n<output>720</output>\n\n<gadget id="calculator">720 * 5</gadget>\n<output>3_600</output>\n\n<result>3_600</result>',
  'result': '3_600',
  'source': 'calc'},
 {'id': 'ape210k__00704785',
  'question': 'If the freight company uses 2 trucks to carry 9600 kg of goods, it can be transported just 4 times. How many kilograms does each truck deliver on average?',
  'chain': '<gadget id="calculator">9_600 / 4 / 2</gadget>\n<output>1_200</output>\n\n<result>1_200</result>',
  'result': '1_200',
  'source': 'calc'},
 {'id': 'svamp__chal-913',
  'question': 'In a school there are 868 girls and the rest are boys. If there are 281 more girls than boys, how many pupils are there in that school?',
  'chain': '<gadget id="calculator">868 + 868</gadget>\n<output>1_736</output>\n\n<gadget id="calculator">1_736 - 281</gadget>\n<output>1_455</output>\n\n<result>1455</result>',
  'result': '1_455',
  'source': 'calc'},
 {'id': 'aqua_rat__LYnM8lew2CDZPk05',
  'question': 'The ratio of the volumes of a cube to that of the sphere which will fit inside the cube is? Choose one:\nA) 2: π  B) 7:2  C) 8:2  D) 6: π  E) 8:3',
  'chain': 'a3 : a3/8 * 4/3 π =&gt; 6: π   Answer: Option 6: π\n<result>D</result>',
  'result': 'D',
  'source': 'calc'},
 {'id': 'ape210k__00048169',
  'question': "The teacher's house used 40 kwh of electricity in July, which was 0.4 kwh more than the electricity consumption in June (4/5). How much kwh was used in June?",
  'chain': '<gadget id="calculator">40 - 0.4</gadget>\n<output>39.6</output>\n\n<gadget id="calculator">4 / 5</gadget>\n<output>4/5 = around 0.8</output>\n\n<gadget id="calculator">39.6 / (4/5)</gadget>\n<output>49.5</output>\n\n<result>49.5</result>',
  'result': '49.5',
  'source': 'calc'},
 {'id': 'mawps__dlbL8K5foumjb07t',
  'question': 'Elaine pick up 11 bags of blueberry . how many blueberry in each bag? If total 94 blueberry Elaine  pick up.',
  'chain': '<gadget id="calculator">94 / 11</gadget>\n<output>94/11 = around 8.545455</output>\n\n<result>94/11</result>',
  'result': '94/11',
  'source': 'calc'},
 {'id': 'ape210k__00631881',
  'question': 'wire, (3/5) meter is used, and the used part is less than (1/4) meter, what is the original length of this wire?',
  'chain': '<gadget id="calculator">3 / 5</gadget>\n<output>3/5 = around 0.6</output>\n\n<gadget id="calculator">1 / 4</gadget>\n<output>1/4 = around 0.25</output>\n\n<gadget id="calculator">(3/5) + (1/4) + (3/5)</gadget>\n<output>29/20 = around 1.45</output>\n\n<result>29/20 = around 1.45</result>',
  'result': '29/20',
  'source': 'calc'},
 {'id': 'mawps__Os4sGvy3Wj2MH1N8',
  'question': 'Michael had 109 cherrys. He halves all cherrys evenly among some friends. How many friends were there, If each of his friend get 20 cherrys?',
  'chain': '<gadget id="calculator">109 / 20</gadget>\n<output>109/20 = around 5.45</output>\n\n<result>109/20</result>',
  'result': '109/20',
  'source': 'calc'}]

In [26]:
for d in df[contains_non_digit]["result"].tolist():
    print(d)

2/5
1_000
1/10
22_750
1_088
B
1/5
65/7
216.66
9_000
B
1/6
3_600
1_200
1_455
D
49.5
94/11
29/20
109/20
11_232
139/15
2_880
121/18
8.4
10.9
D
12.4
22.5
12/25
11/5
14_400
D
4.62
9/2
1/5
44_260
13_132
199/13
1.46
12.56
6_000
655/16
1/8
A
1/4
D
9/16
4_400
1_414
4_802
201/17
18/7
738/29
1_400
1_080
C
8/5
15/16
25/6
D
200.000005
B
18/13
B
10_280
B
1/4
4.999995
B
4.559996
14.57
5.35
C
2_856
1_800
7_500
C
A
19.3
31/6
C
A
188/25
2/9
8_000
224_000
A
1/3
4.2
1_862
E
5_700
9/10
4_284
276_000
E
38/5
57_500
7/15
B
3/8
1/4
1_949
1_538_832
103.5
31/9
2_880
1_800
C

In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
from helper import extract_numbers_and_percentages

In [4]:
# test for 1,000
extract_numbers_and_percentages("$1,000")
# decide how to extract percentage by groudtruth.
# 60%, 60 or 60%, 0.6

[]

1000.0

In [12]:
extract_numbers_and_percentages("-1,000")

-1000.0

In [13]:
extract_numbers_and_percentages("The remaining cake is more than 1/3.")

0.3333333333333333

In [14]:
extract_numbers_and_percentages("12/25.")

0.48

In [15]:
extract_numbers_and_percentages("0.48 or 12/25.")

0.48

In [ ]:
import sympy
input_str = "\frac{1}{6}"
sympy.parse_expr(input_str, evaluate=True)

SyntaxError: invalid syntax (<string>, line 1)